
 </body>
 <footer>
    
    <div class="bottom-bar"> 
        <div class="attributions"><p class="border-text">Created by <a href="https://www.linkedin.com/in/aleix-moreno-telesforo">Aleix Moreno Telesforo</a></p></div>
        <div class="right-footer">
            <div class="about-responsive"><a class="border-text" href="/about-us">about</a></div>
            <div class="contribute"><a class="border-text" href="/contribute">contribute</a></div>
        </div>
       
    </div>

</footer>
</html>