<%- include("partials/header.ejs") %>

<main>
<div class="container vertical">
    <div class="middlepage-message">
    <h1> Thanks for being part of this! </h1>
    <p>Feel free to add more projects and share this page with your network!</p>
    </div>
        </div>
</div>
    
</main>


<%- include("partials/footer.ejs") %>