<%- include("partials/header.ejs") %>


     
     <!--Content of the specific page, with map and aside-->
     <main>
         <div class="container">
             <div class="crypto test">
                 <p>"CRYPTOLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "</p>
             </div>
             <div class="events test">
                 <p>"EVENTSLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. "</p>
             </div>
             <div class="associations test">
                 <p>"ASSOLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
 
             <div class="use-case test">
                 <p>"USE Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p></div>
             <div class="investors test">
                 <p>"INVESTORSLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p></div>
             <div class="test s1"></div>
             <div class="test s2"></div>
             <div class="test s3"></div>
             <div class="test s4"></div>
             <div class="test s5"></div>
             <div class="test s6"></div>
             <!-- <div class="test s7"></div>
             <div class="test s8"></div>
             <div class="test s9"></div> -->
 
         </div>
     </main>


 <%- include("partials/footer.ejs") %>